@media screen and (max-width : 1000px) {
  body {
    width:100%;
    display: grid;
    background-color: #080808;
    margin: 10px;
  }
  .profile-info{
    align-items: center;

  }
  .message{
 text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
  .bio {
    float: right;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em 0 2em 5em;
    border-bottom: 0.2px solid #dbdbdb;
    margin-top: 5em;
    margin-bottom: 2em;
  }
  
    nav {
      top: 0;
      background-color: #fff;
      height: 3.3em;
      line-height: 3.3em;
      width: inherit;
      border-bottom: 0.1em solid #dbdbdb;
      grid-template-columns: 2fr 1fr 1fr 0.5fr;
    }
    .logo > img {
      width: 5em;
      vertical-align: middle;
    }
    .nav-links{
      display:none;
      height:inherit;
      width: inherit;
  
  }
    .profile-photo {
      width: 10em;
      height: 2em;
      margin-top: 3em;
      margin-right: 2em;
    }
    
  .gallery {
    width:inherit;
    height:inherit;
    display:list-item;
    row-gap: 1.7em;
    column-gap: 1em;
  }
  .search {
    background: #fafafa;
    height: 2em;
    margin: 0.8em;
    width: 2em;
    border: 0.07em solid #dbdbdb;
    border-radius: 0.2em;
  }
  .item {
    height: inherit;
    width: inherit;
    background: #000;
    cursor: pointer;
  }

  .modal-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(84, 84, 86, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation:modal-fadeIn 0.5s 0.2s forwards;
    -moz-animation: modal-fadeIn 0.5s 0.2s forwards;
    -o-animation: modal-fadeIn 0.5s 0.2s forwards;
    animation: modal-fadeIn 0.5s 0.2s forwards;
  }
  
  .main {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 20px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(165, 18, 18, 0.13);
    color: #666;
  }
  
  .main > h1 {
    margin-top: 0;
  }
  
  .main > h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .modal-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .modal-button-group > button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  
  @-webkit-keyframes modal-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes modal-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes modal-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes modal-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}